@using Proway.Projeto00.Enums
@using Service.Extensions
@model ColaboradorFolhaPagamentoViewModel

<h1>Calculo de folha de Pagamento</h1>

<form asp-controller="Colaborador" asp-action="Calcular" method="post">

    @*<div>
        <label for="campo-nome">Nome</label>
        <input type="text" id="campo-nome" name="nome" />
    </div>*@

    <div>
        <label asp-for="Nome" class="form-label"  ></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="QuantidadeHoraExtra" class="form-label"></label>
        <input asp-for="QuantidadeHoraExtra" class="form-control" />
        <span asp-validation-for="QuantidadeHoraExtra" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="HorasTrabalhadas" class="form-label"></label>
        <input asp-for="HorasTrabalhadas" class="form-control" />
        <span asp-validation-for="HorasTrabalhadas" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="ValorHora" class="form-label" ></label>
        <input asp-for="ValorHora"class="form-control" />
        <span asp-validation-for="ValorHora" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="DataContratacao" class="form-label"></label>
        <input asp-for="DataContratacao"class="form-control" />
        <span asp-validation-for="DataContratacao" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Cargo" class="form-label"></label>
        <select asp-for="Cargo" class="form-select">
            <option value="" selected="selected" disabled="disabled">Selecione um cargo</option>
            <option value="@ColaboradorCargo.Estagiario.ToInt()">Estagiário</option>
            <option value="@ColaboradorCargo.Junior.ToInt()">Junior</option>
            <option value="@ColaboradorCargo.Pleno.ToInt()">Pleno</option>
            <option value="@ColaboradorCargo.Senior.ToInt()">Senior</option>
        </select>
        <span asp-validation-for="Cargo" class="text-danger"></span>

    </div>

    <div class="mt-3 float-end">
        <button class="btn btn-success" type="submit">Calcular</button>
    </div>


</form>