@model CategoriaEditarViewModel

@{
    ViewBag.CorBotaoSalvar = "btn-warning";
}

<form asp-controller="Categoria" asp-action="Editar" method="POST">

    <input type="hidden" asp-for="@Model.Id" />

    <partial name="Form" model="Model"></partial>

</form>